 @import url(/CSS/dinamicMenu.css);
 @import url(/CSS/carrito.css);
 
 /* ESTILOS GLOBALES */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
         'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 a {
     text-decoration: none;
     color: black;
 }

 ul {
     list-style: none;
 }

 body {
     width: 100%;
     height: 100vh;
     position: relative;
 }

 :root {
     --darkBrown-color: rgba(94, 45, 5, 0.514);
     --lightBrown-color: rgba(138, 65, 6, 0.514);
     --extraLightBrown-color:rgba(187, 117, 76, 0.322);
 }



 /* HEADER */
 header {
     width: 100%;
     padding: 10px;
     background: linear-gradient(#0000005e, #0000005e), url(/IMG/fondo\ header.webp);
     background-position: center;

 }

  
.nombre_floristeria{
    background: url(/IMG/fondo\ titulo\ letras.jpg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Great Vibes", serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(100% - 1px);
    position: absolute;
    bottom: 0;
    
}
 nav {
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .figure_logo {
     width: 20%;
     max-width: 200px;
     min-width: 100px;
     text-align: center;
     position: relative;
     background-color: blueviolet;
 }

 .figure_logo img {
     width: 100%;
     border-radius: 100%;
     background-color: black;
 }

 .ul_nav {
     width: 100%;
     height: 30px;
     margin-left: 10px;
     display: flex;
     justify-content: flex-end;
     align-items: center;

 }

 .li_nav {
     margin-left: 15px;
     position: relative;
     cursor: pointer;
 }
 .li_nav button{
    background-color: transparent;
    outline: none;
    border: none;
 }
#my_popover{
    background: url(/IMG/fondo\ carrusel.jpg);
    width: 70%;
    max-width: 600px;
    margin: auto;
    border: none;
    text-align: center;
}
#my_popover::backdrop{
    backdrop-filter: blur(6px);
}



 /* no funciona */
 .li_nav::after {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 2px;
     background-color: brown;
 }

 .ul_nav li i {
     font-size: 15px;
 }

 /* nav desplegable */

 #div_menu{
    display: none;
    padding: 6px;
 }
 .decoration{
    backdrop-filter: blur(10px);
    border-radius: 6px;
    border: 1px solid var(--lightBrown-color);
 }
 .div_icons {
    height: 10px;
    position: relative;
 }


 #menu_icon {
     text-align: center;
     font-size: 20px; 
     
 }
 #close_icon{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
 }

 .displayblock{
    display: none;
    background-color: yellow;
 }

 #dropDown_box {
     display: none;
     
 }

 .options {
     padding: 6px;
     text-align: center;
 }

 .options:hover {
     cursor: pointer;
     background-color: rgba(136, 77, 29, 0.404);
 }


 .description {
     text-align: center;
     border-radius: 10px;
     padding: 4px;
     width: 70%;
     max-width: 300px;
     margin: 4px auto;
     backdrop-filter: blur(10px);
 }

 .a_description {
     background-color: var(--darkBrown-color);
     padding: 3px;
     font-size: 14px;
     border-radius: 7px;

 }

 .a_description:hover {
     background-color: var(--lightBrown-color);
 }

 .description p {
     font-size: 12px;
     margin: 4px 0px 10px 0px;

 }

 /* MAIN */
 main {
     width: 100%;
     /* flex: 1; */
 }

 .ul_main {
     width: 100%;
     display: flex;
     justify-content: space-between;
     background-color: var(--darkBrown-color);
 }
 .li_main{
    cursor: pointer;
    padding: 4px;
 }
 .li_main:hover{
    background-color:rgb(187, 132, 81);

 }

 /* SECTION DINAMIC_CONTENT */
 #dinamic_section {
     width: 100%;
 }

 .container_carousel {
     width: 100%;

     padding: 10px;
     background-image: url(/IMG/fondo\ carrusel.jpg);
     background-position: center;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .ul_carousel {
     width: 60%;
     max-width: 500px;
     display: flex;
     /* gap: 50px;  */
     /*  padding: 4px; */
     max-width: 400px;
     overflow: hidden;

 }

 .li_carousel {
     display: flex;
     width: 100%;
     flex-shrink: 0;
     border: 1px solid var(--lightBrown-color);
     border-radius: 7px;
     padding: 4px;
 }

 @keyframes move-left {
     25% {
         transform: translateX(-100%);
     }

     50% {
         transform: translateX(-200%);
     }

     75% {
         transform: translateX(-300%);
     }

     100% {
         transform: translateX(-400%);
     }
 }

 .li_carousel:nth-child(1){
    animation: move-left 16s  infinite, opacity 16s -4s infinite; 
 }
 
 .li_carousel:nth-child(2){
    animation: move-left 16s infinite, opacity 16s infinite; 
 }
 
 .li_carousel:nth-child(3){
    animation: move-left 16s infinite, opacity 16s 4s infinite; 
 }
 
 .li_carousel:nth-child(4){
    animation: move-left 16s infinite, opacity 16s 8s infinite; 
 }
 
 @keyframes opacity {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
  }
 .description_carousel {
     width: 60%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }

 .description_carousel h2 {
     font-size: 20px;
 }

 .description_carousel h3 {
     font-size: 15px;
 }

 .description_carousel p {
     font-size: 12px;
     padding: 6px 0px;
 }

 .div_btn_carousel {
     width: 100px;
     margin: 0 auto;
 }

 .btn_carousel {
     width: 100%;
     padding: 6px;
     border: none;
     background-color: var(--darkBrown-color);
     border-radius: 7px;
     font-size: 15px;
 }

 .img_carousel {
     width: 40%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .img_carousel img {
     width: 100%;
     border-radius: 7px;
     aspect-ratio: 1;
 }

 /* FOOTER */
 footer {
     background-color: var(--lightBrown-color);
     width: 100%;
     padding: 3px;
 }

 .ul_footer {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 }

 .li_footer {
     max-width: 200px;
     margin: 6px auto;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }


#icon{
    border-radius: 100%;
}

 /* MEDIA QUERIES */
 @media (max-width:600px) {
    *{
        font-size: calc(100% - 3%);
    }
    #div_menu{
        display: block;
        padding: 2px;
    }

    #menu_icon{
        display: block;
    }


     .ul_carousel {
         width: 90%;
     }

     .ul_nav {
         display: none;
     }

     .options{
        padding: 3px;
     }
  
     .div_description h2{
        font-size: 15px;
     }
   
 }